body {
	background-color: #929292;
	font-family: helvetica, sans-serif;
}

div.wrapper {
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

div.above {
	background-color: #BDCCD4;
	height: 320px;
	position: relative;
}

div.banner {
	background-color: #C1272D;
	height: 120px;
	position: relative;
	z-index: 99;
}
div.banner .title {
	position: absolute;
	top: 40px;
	left: 80px;
	width: 100%;
}
div.banner h2 a {
	font-size: 40px;
	font-weight: 900;
	font-family: helvetica;
	text-decoration: none;
	color: white;
}
div.below {
	position: absolute;
	background-color: white;
	height: 3000px; /* makes calculating y position of rebels more predictable */
}


/****** MP POSITIONING AND SIZING ******/
div.mp {
	display: inline;
	overflow: hidden;
}
div.mp .name {
	display: none;
	width: 100%;
	color: white;
	background-color: #C1272D;
	text-align: center;
	padding: 3px 0;
}
div.mp img {
	height: 50px;
	width: auto;
	opacity: 0.4;
}


/* rebelling mp */
div.mp.rebel {
	position: absolute;
	transition: all 0.38s ease-in;
	-moz-transition: all 0.38s ease-in;
	-webkit-transition: all 0.38s ease-in;
	-o-transition: all 0.38s ease-in;
	-ms-transition: all 0.38s ease-in;
	-khtml-transition: all 0.38s ease-in;
}
div.mp.rebel .name {
	display: block;
}
div.mp.rebel .name a {
	color: #fff;
	text-decoration: none;
	display: block;
}
div.mp.rebel img {
	width: 100%;
	height: auto;
	opacity: 1;
}

div.mp .info {
	position: absolute;
	display: none;
}


/* mp info popup */
div.below div.mp-info {
	position: absolute;
	top: 20px;
	left: 60px;
	width: 390px;
	opacity: 0.9;
	display: none;
	background-color: white;
	z-index: 100;
	padding: 2em;
}

.mp-info em {
	font-style: italic;
}

.mp-info ul {
	/*
	list-style: disc;
	list-style-position: inside;
	*/
	margin: 1em 0 0;
}

.mp-info li {
	margin: 20px 0;
}

/* fake stat */
div.below div.stat {
	position: absolute;
	top: 20px;
	left: 530px;
	width: 427px;
	height: 200px;
	opacity: 0.9;
	background-color: white;
	z-index: 100;
}
div.below div.stat h1 {
	margin-top:1em;
	margin-left:1em;
}

.mp-info h1, div.below div.stat h1 {
	font-weight:bold;
	font-size:1.6em;
	color:#c1272d;
	margin-bottom:0.2em;
}


/****** Buttons ******/
div.banner .button {
	position: absolute;
	top: 27px;
	cursor: pointer;
}
div.banner .button.next {
	right: 15px;
}
div.banner .button.prev {
	left: 15px;
}


/****** Logos etc. ******/
#logo {
	width: 200px;
	position: absolute;
	right: -120px;
	top: 13px;	
}

#more-info {
	position: absolute;
	top: 95px;
	right: 12px;
	font-weight: 0.8em;
	margin:0;
	padding:0;
}
#more-info a {
	color: #333;
}

#scale {
	position: absolute;
	left: 20px;
	bottom: 0px;
}
#scale img {
	height: 80%;
}
#fist {
	position: absolute;
	top: 5px;
}